* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*esqueleto*/

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  [class*="col-"] {
    width: 100%;
  }
}

[class*="col-"] {
  float: left;
  padding: 0px;
}

.row {
  background-color: teal;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

/*esqueleto*/

/*navegación*/

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 20px;
  padding-top: 25px;

  position: relative;
}

nav a {
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
  color: aquamarine;
}

nav a:hover {
  color: aquamarine;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  border-radius: 5px;
  background-color: aquamarine;

  position: absolute;
  width: 0%;

  transition: all ease-in-out 200ms;
}

nav a:hover::before {
  width: 100%;
}

/*navegación*/

/*logo*/

#logo {
  width: 100%;
  width: 150px;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 5px;
}

/*logo*/
