* {
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #0A2E36;
    color: white;
}



/*filas*/


[class*="col-"] {
    float: left;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%
}

.col-8 {
    width: 66.66%
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}



@media only screen and (max-width: 600px) {
    [class*="col-"] {
        width: 100%;
    }
}

.row {
    display: table;
    content: "";
    clear: both;
}


/*filas*/

/*logo*/

.parte-arriba {
    display: flex;
}

.tt {
    display: flex;
    flex: 99%;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
   flex: 1%;

   
}

/*logo*/

/*tabla*/

.ss {
    animation: ease ss 3s;
    -webkit-animation: ease ss 53s;
}

@keyframes ss {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes ss {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.tabla {
    display: table;
    width: 100%;
}

.nombre-tabla {
    display: table-caption;
    text-align: center;
}

.cabeceras {
    display: table-header-group;
    
}

.lineas-cabeceras {
    display: table-cell;
    border: 1px solid;
    text-align: center;
}

.cuerpo {
    display: table-row-group;
}

.filas {
    display: table-row ;
}

.lineas-filas {
    display: table-cell;
    border: 1px solid;
    text-align: center;
}

/*tabla*/

/*navbar*/

ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    background-color: #5F464B;
    border-radius: 5px;
}

li {
    float: left;
}

li a, menu {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: #F5E3E0;
    margin-left: 50px;
}

li a:hover, .dropdown:hover .boton {
    background-color: #E8B4BC;
}

li .dropdown {
    display: inline-block;
}

.contenido {
    display: none;
    position: absolute;
    color: teal;
}

.contenido a {
    display: block;
    background-color: #5F464B;
    color: #F5E3E0;
    text-decoration: none;
}



.dropdown:hover .contenido {
    display: block;
}
/*navbar*/

/*imagenes*/

#centro {
    width: 100%;
    display: block;
    margin: 0 auto;
}


.ss {
    animation: ss ease 2s;
    -webkit-animation: ss ease 2s;
}

@keyframes ss {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes ss {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.foto1, .foto2, .foto3, .foto4 {
    width: 100%;
    padding: 2px;
}

/*foto1*/

.container {
    padding: 2px;
    width: 95%;
    background-color: #485665;
}

.foto1 {
    animation: ease foto1 2s;
    -webkit-animation: ease foto1 2s;
}

@media screen and (max-width:600px) {
    [class*="container"] {
        padding: 2px;
        width: 100%;
    }
}

@keyframes foto1 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes foto1 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.carta{
   text-align: center;
   padding: 5px 10px;
}

/*foto1*/

/*foto2*/

.foto2 {
    animation: ease foto2 4s;
    -webkit-animation: ease foto2 4s;
}

@keyframes foto2 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes foto2 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/*foto2*/

/*foto3*/

.foto3 {
    animation: ease foto3 6s;
    -webkit-animation: ease foto3 6s;
}

@keyframes foto3 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes foto3 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/*foto3*/

/*foto4*/

.foto4 {
    animation: ease foto4 8s;
    -webkit-animation: ease foto4 8s;
}

@keyframes foto4 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes foto4 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/*foto4*/


.foto1:hover {
    opacity: 0.5;
}

