* {
  box-sizing: border-box;
}

body {
  background-color: beige;
}

#tabla {
  display: table;
  width: 100%;
  text-align: center;
}

#nombre_tabla {
  display: table-caption;
  font-size: 30px;
  font-weight: bold;
}

#filas {
  display: table-header-group;
  border: 1px solid black;
}

.cabeceras {
  display: table-cell;
  border: 1px solid black;
  padding: 2px;
}

#cuerpo {
  display: table-row-group;
}

.filas {
  display: table-row;
}

.celdas-filas {
  display: table-cell;
  border: 1px solid black;
  padding: 2px;
}

/*fin de la tabla */

/*inicio de columnas */

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

/*fin de columnas*/

.row::after {
  content: "";
  display: table;
  clear: both;
}

/* seccion imagenes */

.comida {
  width: 100%;
  height: auto;
}

#lugar {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  [class*="col-"] {
    width: 100%;
  }
}

[class*="col-"] {
  float: left;
  padding: 2px;
}

/*fin */
h1 {
  background-color: lightblue;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 black;
}

/*navegacion */

ul {
  list-style-type: none;
}

li {
  padding: 8px;
  background-color: #873a1c;
  margin: 5px;
  margin-left: 40px;
  box-shadow: 0 0 5px 0 black;
  width: 70%;
}

a {
  text-decoration: none;
  color: white;
}

footer {
  background-color: grey;
}
